<div class="progress">
  <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: <%= exam.easy_percent %>">
    <%= exam.easy_percent %>
    <span class="tooltiptext"> 
      <%= exam.easy_percent %>(<%= exam.easy_questions_count %>) câu hỏi dễ
    </span>
  </div>
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= exam.medium_percent %>">
    <%= exam.medium_percent %>
    <span class="tooltiptext"> 
      <%= exam.medium_percent %>(<%= exam.medium_questions_count %>) câu hỏi trung bình
    </span>
  </div>
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= exam.hard_percent %>">
    <%= exam.hard_percent %>
    <span class="tooltiptext"> 
      <%= exam.hard_percent %>(<%= exam.hard_questions_count %>) câu hỏi khó
    </span>
  </div>
</div>
