<div class="each-question-in-exam">
  <strong> Câu hỏi số <%= question_counter + 1 %> : </strong>
  <p><%= raw question.content %></p>
  <hr>
  <% question.answers.each do |answer| %>
    <div class="margin-bottom-5">
      <div class="row">
        <div class="col-sm-1">
          <div class="pull-right">
            <% if question.single_choice? %>
              <%= radio_button_tag "answer-#{answer.id}", nil, answer.is_true, disabled: true %>
            <% elsif question.multi_choice? %>
              <%= check_box_tag "answer-#{answer.id}", nil, answer.is_true, disabled: true %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-11">
          <%= raw answer.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>
