<div class="modal-dialog modal-lg modal-show-attempt">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Chi tiết lần thi</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="block">
            <div class="block-title">
              <h4>
                <i class="fa fa-info-circle"></i>
                Thông tin người làm
              </h4>
            </div>

            <div class="row text-center">
              <%= image_tag image_url(@attempt.user), size: "200",
                class: "img-circle" %>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-tag"></i></div>
              <div class="col-sm-10"><strong>Tên người làm:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <span><%= @attempt.user.user_name %></span>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-envelope"></i></div>
              <div class="col-sm-10"><strong>Email:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <p><%= @attempt.user.email %></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-check-square-o"></i></div>
              <div class="col-sm-10"><strong>Kết quả:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <%= @attempt.score %>/<%= @attempt.attempt_questions.size %> <%= raw @attempt.result %>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-calendar"></i></div>
              <div class="col-sm-10"><strong>Ngày làm:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <p><%= @attempt.created_at.localtime.strftime("%H:%M:%S %d-%m-%Y") %></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-clock-o"></i></div>
              <div class="col-sm-10"><strong>Thời gian hành thành:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <p><%= Time.at(@attempt.spent_time || @attempt.exam_duration).utc.strftime("%H:%M:%S") %></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-1"><i class="fa fa-toggle-on"></i></div>
              <div class="col-sm-10"><strong>Trạng thái:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <p class=" label label-<%= @attempt.label_status %> ">
                  <%= @attempt.i18n_status %>
                </p>
              </div>
            </div>
            <hr>

          </div>
        </div>
        <div class="col-lg-8">
          <div class="block">
            <div class="block-title">
              <h4>
                <i class="fa fa-info-circle"></i>
                Nội dung chi tiết lần làm
              </h4>
            </div>
            <div class="list-question-show-exam">
              <%= render partial: "attempts/attempt_question", collection: @attempt.attempt_questions, as: :attempt_question %>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
