<div class="header-login-form">
  <div class="text-center">
    <%= image_tag asset_path('icon_app.png'), size: "100" %>
    <h2>Quên mật khẩu?</h2>
  </div>
</div>
<div class="login-form">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <div class="pull-right">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-9">
        <%= f.input :email, autofocus: true, autocomplete: "email", label: false, placeholder: "Nhập email" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-9">
        <div class="actions">
          <%= f.button :button, type: "submit", class: "login-button" do %>
            <strong>Gửi thông tin thay đổi mật khẩu</strong>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-9">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <% end %>
</div>

