<div id="header-home">
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
            <div class="app-title">
              <%= image_tag asset_path('icon_app.png'), size: "50" %> &nbsp;
              <span class="app-name">TULO</span>
            </div>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="link-to-root">
            <%= link_to "Trang chủ", root_path %>
          </li>
          <li class="dropdown">
            <%= link_to "javascript:void(0)", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <%= image_tag image_url(current_user), size: "40", class: "img-circle" %>
              <i class="fa fa-angle-down"></i>
            <% end %>
            <ul class="dropdown-menu custom-dropdown">
              <li class="dropdown-header text-center">
                <strong><%= current_user.user_name %></strong>
              </li>
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-home fa-fw pull-right"></i>
                  <p>Trang chủ</p>
                <% end %>

                <% if current_user.manager? %>
                  <%= link_to admin_root_path do %>
                    <i class="fa fa-tasks fa-fw pull-right"></i>
                    <p>Trang quản lý</p>
                  <% end %>
                <% end %>

                <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-user fa-fw pull-right"></i>
                  <p>Thông tin cá nhân</p>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to signout_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-fw pull-right"></i> 
                  <p>Đăng xuất</p>
                <% end %>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
